joblib==1.1.0
matplotlib==3.5.3
numpy==1.23.2
pandas==1.4.4
scikit-learn==1.1.2
scipy==1.9.0
torch==1.12.1
tqdm==4.64.0
transformers==4.21.2
line_profiler==3.5.1
radon==5.1.0
lxml==4.9.1
mypy==0.971
pylint==2.14.5
pylint-json2html==0.4.0
pylint-exit==1.2.0