name:                     Tests

on:
  push:
    branches:             [main]
  pull_request:
    branches:             [main]

jobs:
  run_tests:

    runs-on:              ubuntu-latest

    steps:
      - name:             checkout repo
        uses:             actions/checkout@v3.0.0
        with:
          fetch-depth:    1

      - name:             setup conda
        uses:             s-weigand/setup-conda@v1.1.0
        with:
          python-version: 3.10

      - name:             run testing pipeline
        run:              make test
